<div class="container">

<h3>新規作成ページ</h3>
<%= form_tag("/admins_create") do %>
    <div class="form-group">
        <%= label_tag "form-name", "Name" %>
        <%= text_field :admins, :name, id:"form-name", class:"form-control", placeholder: "Name"%>
    </div>
    <div class="form-group">
        <%= label_tag "form-password", "Password" %>
        <%= text_field :admins, :password, id:"form-password", class:"form-control", placeholder: "Password"%>
    </div>
    <%= submit_tag "Create", class:"btn btn-primary"%>
<% end %> 
</div>